<div class="card mb-4">
  <div class="card-header bg-success text-white">Add product</div>
  <div class="card-body">
    <form (ngSubmit)="addUser()" #addForm="ngForm">
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Nombre</span>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="nombre"
            required
            [(ngModel)]="newUser.name"
            #nameModel="ngModel"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
          />
          @if(nameModel.errors?.['required']) {
          <div class="invalid-feedback">El campo 'Nombre' no puede estar vacío</div>
          }
        </div>
      </label>

      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Email</span>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="email"
            required
            email
            [(ngModel)]="newUser.email"
            #emailModel="ngModel"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
          />
          @if(emailModel.errors?.['required']) {
          <div class="invalid-feedback">El campo 'Email' no puede estar vacío</div>
          }
        </div>
      </label>

      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Repite Email</span>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="email2"
            required
            email
            ngModel
            #repiteEmailModel="ngModel"
            [sameValue]="email()"
            [class]="{
              'is-valid': repiteEmailModel.touched && !repiteEmailModel.valid,
              'is-invalid': repiteEmailModel.touched && repiteEmailModel.valid
            }"
          />
          @if(repiteEmailModel.errors?.['required']) {
          <div class="invalid-feedback">El campo 'Email' no puede estar vacío</div>
          }
          <div class="invalid-feedback">Los correos no coinciden</div>
        </div>
      </label>
      
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Contraseña</span>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="password"
            required
            [(ngModel)]="newUser.password"
            #passwordModel="ngModel"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
          />
          @if(passwordModel.errors?.['required']) {
          <div class="invalid-feedback">El campo 'Contraseña' no puede estar vacío</div>
          }@if(passwordModel.errors?.['minlength']) {
            <div class="invalid-feedback">
              La contraseña debe tener al menos 
              {{passwordModel.errors?.['minlength'].requiredLength - passwordModel.errors?.['minlength'].actualLength}}
              carácteres más
            </div>
          }
        </div>
      </label>

      <div class="form-row">
        <div class="mb-3 col">
          <label for="lat">Latitud:</label>
          <input type="text" class="form-control" id="lat" name="lat" placeholder="Geolocating..." readonly />
        </div>
        <div class="mb-3 col">
          <label for="lng">Longitud:</label>
          <input type="text" class="form-control" id="lng" name="lng" placeholder="Geolocating..." readonly />
        </div>
      </div>

      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Avatar</span>
        <div class="col-sm-10">
          <input
            type="file"
            class="form-control"
            accept="image/*"
            name="fileName"
            required
            ngModel
            encodeBase64
            (encoded)="newUser.photo = $event"
            #imageModel="ngModel"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
          />
          <div class="invalid-feedback">Debe seleccionar una imagen</div>
        </div>
      </label>
      @if (newUser.photo) {
      <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
          <img class="product-img" [src]="newUser.photo" alt="" />
        </div>
      </div>
      }

      <a class="btn btn-secondary" href="login.html" role="button">Volver</a>
      <button type="submit" class="btn btn-primary">Crear cuenta</button>
    </form>