<div>
  <google-login class="btn" (login)="loggedGoogle($event)"></google-login>
</div>

<div>
  <button
    fbLogin
    [scopes]="['email', 'public_profile']"
    class="btn btn-primary ms-3"
    (loginOk)="loggedFacebook($event)"
    (loginError)="showError($event)"
  >
    <fa-icon [icon]="fbIcon"></fa-icon>
    Login con Facebook
  </button>
</div>

<form class="mt-4" (ngSubmit)="login()">
  <legend>Welcome to FoodScore!</legend>

  <div class="mb-3">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required />
  </div>
  <div class="mb-3">
    <label for="password">Contraseña:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required />
  </div>
  <!-- <a class="btn btn-secondary" href="/register.html" role="button">Crear cuenta</a> -->
  <button type="submit" class="btn btn-primary">Login</button>
</form>
