<form class="mt-4" (ngSubmit)="addRestaurant()" #addRestaurantForm="ngForm">
  <div class="mb-3">
    <label for="name">Nombre</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      placeholder="Enter name"
      required
      minlength="3"
      pattern="[a-zA-Z][a-zA-Z ][a-zA-Z]*$"
      [(ngModel)]="newRestaurant.name"
      #restName="ngModel"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
    />
    @if(restName.errors?.['required']) {
      <div class="invalid-feedback">Name cannot be empty</div>
      } 
    @if(restName.errors?.['minlength']) {
      <div class="invalid-feedback">
        You must enter at least
        {{restName.errors?.['minlength'].requiredLength - restName.errors?.['minlength'].actualLength}}
        characters more
      </div>
    } 
    @if(restName.errors?.['pattern']) {
      <div class="invalid-feedback">The Restaurant's name must contain only letters or spaces</div>
    }
  </div>
  <div class="mb-3">
    <label for="description">Descripción</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      placeholder="Description"
      required
      minlength="10"
      maxlength="200"
      #restDesc="ngModel"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
      [(ngModel)]="newRestaurant.description"
    ></textarea>
    @if(restDesc.errors?.['required']) {
      <div class="invalid-feedback">Description cannot be empty</div>
    } 
    @if(restDesc.errors?.['minlenght']) {
      <div class="invalid-feedback">
        You must enter at least 
        {{restDesc.errors?.['minleght'].requiredLength - restDesc.errors?.['minlength'].actualLength}}
        characters more
      </div>
    }
  </div>
  <div class="mb-3">
    <label for="cuisine">Cocina</label>
    <input
      type="text"
      class="form-control"
      name="cuisine"
      id="cuisine"
      placeholder="Cuisine"
      required
      minlength="3"
      maxlength="40"
      #restCuicine="ngModel"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid'}"
      [(ngModel)]="newRestaurant.cuisine"
    />
    @if(restCuicine.errors?.['required']) {
      <div class="invalid-feedback">Cuicine's type cannot be empty</div>
    } 
    @if(restCuicine.errors?.['minlength']) {
      <div class="invalid-feedback">
        You must enter al least
        {{restCuicine.errors?.['minlength'].requiredLength - restCuicine.errors?.['minlength'].actualLength}}
        characters more
      </div>
    }
  </div>
  <p>Días de apertura</p>
  <div class="mb-3" ngModelGroup="daysGroup" #daysModel="ngModelGroup" oneChecked>
    @for(day of days; track $index; let i = $index) {
    <div class="form-check form-check-inline">
      <input
        type="checkbox"
        class="custom-control-input"
        id="checkDay{{ i }}"
        name="days"
        [(ngModel)]="daysOpen[i]"
      />
      <label class="custom-control-label ms-2" for="checkDay{{ i }}">{{
        day
      }}</label>
      @if(daysModel.invalid) {
        <div class="text-danger">You must select at least one day</div>
      }
    </div>
    }
  </div>
  <div class="mb-3">
    <label for="phone">Teléfono</label>
    <input
      type="number"
      class="form-control"
      id="phone"
      name="phone"
      placeholder="Phone number"
      [(ngModel)]="newRestaurant.phone"
      required
      pattern="([+0]?[0-9]{2}?)?[0-9]{9}"
      #restPhone="ngModel"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid'}"
    />
    @if(restPhone.errors?.['required']) {
      <div class="invalid-feedback">The Restaurant's phone is mandatory</div>
    }
    @if(restPhone.errors?.['pattern']) {
      <div class="invalid-feedback">The Restaurant's telephone number must have at least 9 numbers without a prefix</div>
    }
  </div>
  <div class="mb-3">
    <label for="image">Main photo</label>
    <input
      type="file"
      class="form-control"
      id="image"
      name="image"
      [(ngModel)]="filename"
      encodeBase64
      (encoded)="newRestaurant.image=$event"
      required
      #restPhoto="ngModel"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid'}"
    />
    @if(restPhoto.errors?.['required']) {
      <div class="invalid-feedback">The Restaurant's image is mandatory</div>
    }
  </div>
  @if(newRestaurant.image) {
    <img [src]="newRestaurant.image" alt="" id="imgPreview" class="img-thumbnail mb-3" />
  }

  <div>
    <button type="submit" class="btn btn-primary" [disabled]="addRestaurantForm.invalid">Crear</button>
  </div>
</form>
