<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">FoodScore</a>
    <ul class="navbar-nav me-auto">
      @if(logged()) {
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/restaurants']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/restaurants', 'add']"
          [routerLinkActive]="['active']"
        >
          Nuevo restaurante
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/profile']"
          [routerLinkActive]="['active']"
        >
          Perfil
        </a>
      </li>
  } @else {
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/auth/login']"
          [routerLinkActive]="['active']"
        >
          Iniciar sesión
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/auth/register']"
          [routerLinkActive]="['active']"
        >
          Registrarse
        </a>
      </li>
    }
    </ul>
    <ul class="navbar-nav ms-auto">
      @if(logged()) {
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="logout()"
            role="button"
            style="cursor: pointer;"
          >
            Cerrar sesión
          </a>
        </li>
      }
    </ul>
    
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
